.product {
    display: grid;
    background: #fff;
    padding: 30px 25px 0 25px;
    border-radius: 8px;
}

.product-mobile {
    padding: 30px 0px 0 0px;
}

.product-mobile-padding {
    padding: 0 25px;
}

.product-name {
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
    color: #1D1D1F;
}

.product-colors {
    display: flex;
    gap: 8px;
    margin-top: 18px;
}

.product-color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.product img {
    margin-top: 55px;
}

.product-info {
    margin-top: 25px;
    display: flex;
}

.product-info-from {
    color: #1D1D1F;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    flex: 1;
}

.product-info-more {
    color: #1D1D1F;
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
}