.accordion {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    padding: 12px 0;
}

.accordion-button {
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Lato';
    padding: 0;
    width: 100%;
    text-align: left;
}

.accordion-chevron {
    float: right;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.accordion-chevron-animate {
    transform: rotate(90deg);
}

.accordion-content {
    display: grid;
    gap: 15px;
    margin-top: 0px;
    margin-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-content-visible {
    margin-top: 20px;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}