button {
    font-family: 'Lato';
    border: 0;
    background: transparent;
    width: max-content;
    padding: 0;
    font-size: 12px;
    line-height: 21px;
    font-weight: 600;
    color: #000;
    display: flex;
    align-items: center;
    cursor: pointer;
}