@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html {
  background: #F6F6F6;
}

body {
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  min-height: 100%;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-background {
  background: #282828 !important;
}

.dark-background-secondary {
  background: #161616 !important;
  border-color: #161616 !important;
}

.dark-color {
  color: #fff !important;
}
